/* colors: 004356,d62828,f77f00,fcbf49,f3eed0 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3eed0;
    color: #004356;
    font-family:testing;

}

header {
    /* background-color: #2c3e50; */
    background-image: url('tessellation.png');
    color: #004356;
    background-size: 3450px;
    padding: 20px 0;
    text-align: center;
    font-family:testing;
}


section {
    padding: 40px;
}

h1, h2, h3 {
    margin-top: 0;
}

a {
    color: #f77f00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header_content {
    max-width: 800px;
    margin: auto;
    background-color: rgba(243, 238, 208, 0.8); 
    padding: 10px; /* Add padding as needed */
    border-radius: 5px;
}

.divider {
    border-top: 1px solid #f3eed0;
    margin: 20px 0;
}

.info-item {
    margin-bottom: 20px;
}

footer {
    background-color: #004356;
    color: #f3eed0;
    padding: 20px 0;
    text-align: center;
}
/* Define a keyframe animation called fadeIn */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#resume-content {
    animation: fadeIn 2s ease-in-out forwards;
    opacity: 0; /* Initial state before the animation starts */
}

@font-face {
    font-family: testing;
    src: url(fonts/Neuesbauen.ttf);
  }



#octahedronCanvas {
    flex-shrink: 0; /* Prevent the canvas from shrinking */
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    margin-right: 20px; /* Add some space between the canvas and the header content */
    /*add transparent background*/
    background-color: rgba(243, 238, 208, 0.8);
}

.header_container {
    display: flex;
    align-items: center;
}

